.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &-edit {
    color: var(--bs-blue);
    cursor: pointer;
  }
  &-delete {
    color: var(--bs-red);
    cursor: pointer;
  }
}
